<section>
  <article>
    <h1 i18n>Hi, we are Transit Live Mapping Solutions,</h1>
    <h4 i18n>Enhancing openness and promoting access to Dresden public infrastructure data since 2022.</h4>

    <p i18n>
      a group of students that ended up getting seriously nerdsniped by a humble side-project started during lockdown.
    </p>

    <p i18n>
      Our aim is and has always been to collect reliable real-time information about public transport in order to make
      it available in a straightforward, open manner. We believe that transparency regarding public infrastructure
      contributes to better understanding and thus better informed public discussions. Check out the <a
        routerLink="/map">map</a> to see what we’ve
      built.
    </p>

    <p i18n>
      The data is gathered by a network of radio receivers distributed across the city, collecting signals sent out by
      public transport vehicles. By now we have reached particularly good coverage, thanks to many contributors who
      helped to expand and maintain this receiver network.
    </p>

    <p i18n>
      With the project now concluded, active feature development has ended. However, we will continue to provide regular
      security updates to keep the platform stable and safe to use.
    </p>

    <p i18n>
      We would like to express our sincere thanks to our supporters — all of you that contributed data, tested software,
      or hosted receivers. This project would not have been possible without your enthusiasm and dedication!
    </p>

    <p i18n>
      If you have questions or would like to get in touch regarding past work, feel free to send us an <a
        href="mailto:hello@tlm.solutions">email</a>.
    </p>
    <h3 i18n>Any Questions? Chat us up!?</h3>
    <ul>
      <li><a href="mailto:hello@tlm.solutions" i18n>hello&#64;tlm.solutions</a></li>
      <li><a href="https://matrix.to/#/#tlm-solutions:matrix.org" i18n rel="noopener" target="_blank">Matrix Room</a>
      </li>
      <li><a href="https://docs.tlm.solutions" i18n rel="noopener" target="_blank">Documentation</a></li>
      <li><a href="https://github.com/tlm-solutions" i18n rel="noopener" target="_blank">GitHub Organisation</a></li>
    </ul>

    <br>

    <h3 i18n>Showcase</h3>
    <div class="images">
      <div>
        <a class="not" routerLink="/map">
          <img alt='Image of the "live-vehicle-tracking-map".' height="588" ngSrc="assets/images/landingpage_map.jpg"
            width="840">
        </a>
        <ul>
          <li i18n>Vehicles are shown on the map with their current location.</li>
          <li i18n>Depending on their delay, the color of the icon changes from orange (delayed) to blue (ahead of
            schedule).
          </li>
          <li i18n>You can click a vehicle to see other information.</li>
        </ul>
      </div>
      <div>
        <a class="not" routerLink="/region/0">
          <img alt='Image of all known waypoints of dresden.' height="349" ngSrc="assets/images/landingpage_dresden.jpg"
            width="529">
        </a>
        <ul>
          <li i18n>Every dot is a currently known waypoint.</li>
          <li i18n>
            Use <a href="https://github.com/tlm-solutions/strasi" rel="noopener" target="blank">Strasi
              (<b>S</b>tandortverfolgungssystem für <b>T</b>rams und <b>R</b>egionalbusse mit <b>a</b>utomatisierter
              <b>S</b>atelliten<b>i</b>dentifikation)</a> to help us discover now
            waypoints.
          </li>
        </ul>
      </div>
    </div>
  </article>

</section>

<div class="overview">
  <app-statistic-card [value]="regionCount | async" link="/region" name="Regions">
    <app-region-icon />
  </app-statistic-card>

  <app-statistic-card [value]="stationCount | async" link="/station" name="Stations">
    <app-station-icon />
  </app-statistic-card>

  <app-statistic-card [value]="userCount | async" link="/user" name="Users">
    <app-user-icon />
  </app-statistic-card>

  <app-statistic-card [value]="trackCount | async" link="/track" name="Tracks">
    <app-track-icon />
  </app-statistic-card>

  <section>
    <h1 i18n>Further Information</h1>
    <ul>
      <li><a href="https://docs.tlm.solutions/background/public-transport-acceleration-technologies">Principles of
          Traffic Prioritization</a></li>
      <li><a href="https://github.com/tlm-solutions" i18n rel="noopener" target="_blank">GitHub Organisation</a></li>
    </ul>
  </section>
</div>