<section>
  <article>
    <h1>Hi, we are  Transit Live Mapping Solutions ,</h1>
    <p>
      a small group of students, currently consisting of Marenz, Tassilo and 0xA, that ended up getting seriously
      nerdsniped by something that started off as a small side-project during lockdown.
    </p>
    <p>
      Our aim is to collect reliable real time information about public transport and make it available to everyone in a
      straightforward way. We are convinced that open data for commonly shared infrastructure will help contribute to a
      more efficient and safe state of operation. Check out the <a routerLink="/map">map</a> to see what we’ve built so
      far.
    </p>
    <p>
      The data is gathered by a network of radio receivers we have distributed across the city which collect the signals
      sent out by public transport vehicles. As for now we’ve focused mainly on Dresden for obvious reasons but we’d
      love
      to broaden our scope to include further cities in Germany and already have taken this into consideration in our
      code
      stack.
    </p>
    <p>
      In order to scale appropriately, help is highly appreciated! We are urgently looking for front-end developers that
      are able to turn this into something truly useful and testers of the software stack to ensure overall quality.
      Further, we are currently paying everything from our own budget, so financial support is also of great help! You
      can
      either donate directly (via <a href="https://ko-fi.com/dumpdvb">Ko-fi</a>) or click us something from our <a
      href="https://www.amazon.de/hz/wishlist/ls/379ZEGSLTRYWL?ref_=wl_share">Amazon Wishlist</a>. &lt;3
    </p>
    <p>
      We also look for people willing to participate in building up the radio receiver-network, so if you would like to
      own a pretty little window decoration that listens to public broadcasts, shoot us an <a
      href="mailto:hello@tlm.solutions">email</a>!
    </p>
    <h3>Any Questions? Chat us up!?</h3>
    <ul>
      <li><a href="mailto:hello@tlm.solutions">hello@tlm.solutions</a></li>
      <li><a href="https://matrix.to/#/#dump-dvb:matrix.org" rel="noopener" target="_blank">Matrix Room</a></li>
      <li><a href="https://docs.tlm.solutions" rel="noopener" target="_blank">Documentation</a></li>
      <li><a href="https://github.com/tlm-solutions" rel="noopener" target="_blank">GitHub Organisation</a></li>
    </ul>

    <div class="images">
      <div>
        <a routerLink="/map" class="not">
          <img
            ngSrc="/assets/images/landingpage_map.png"
            alt='Image of the "live-vehicle-tracking-map".'
            height="588" width="840">
        </a>
        <ul>
          <li>Vehicles are shown on the map with their current location.</li>
          <li>Depending on their delay, the color of the icon changes from orange (delayed) to blue (ahead of
            schedule).
          </li>
          <li>You can click a vehicle to see other information.</li>
        </ul>
      </div>
      <div>
        <a routerLink="/region/0" class="not">
          <img
            ngSrc="/assets/images/landingpage_dresden.png"
            alt='Image of all known waypoints of dresden.'
            height="458" width="464">
        </a>
        <ul>
          <li>Every dot is a currently known waypoint.</li>
          <li>
            Use <a href="https://github.com/tlm-solutions/stasi" target="blank" rel="noopener">Stasi
            (Standortverfolgungssystem für Straßenbahnen mit Identifikation)</a> to help us discover now
            waypoints.
          </li>
        </ul>
      </div>
    </div>
  </article>

</section>

<div class="overview">
  <app-statistic-card [value]="regionCount | async" link="/region" name="Regions">
    <app-region-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="stationCount | async" link="/station" name="Stations">
    <app-station-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="userCount | async" link="/user" name="Users">
    <app-user-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="trackCount | async" link="/track" name="Tracks">
    <app-track-icon/>
  </app-statistic-card>

  <section>
    <h1>Support the Project</h1>
    <p>We currently need all the support we can get.</p>
    <h3>Collaboration</h3>
    <ul>
      <li><a href="https://docs.dvb.solutions/chapter_4_building_a_receiver.html">Setup a Receiver</a></li>
      <li><a href="https://docs.dvb.solutions/chapter_3_data_providers.html">Contribute Data</a></li>
      <li><a href="https://github.com/dump-dvb/">Contribute Code</a></li>
    </ul>
    <br/>
    <h3>Financially</h3>
    <ul>
      <li><a href="https://www.amazon.de/hz/wishlist/ls/379ZEGSLTRYWL?ref_=wl_share">Amazon Wishlist</a></li>
      <li>Github Sponsors Soon TM</li>
      <li><a href="https://ko-fi.com/dumpdvb">Ko-fi</a></li>
    </ul>
  </section>
</div>
