:host {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: min-content min-content min-content;
  padding: 1rem;
  grid-template-areas: "general map" "buttons map";

  &,.buttons {
    gap: 1rem;
  }

  .general {
    grid-area: general;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
  }

  .map {
    grid-area: map;
  }
}
