:host {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 5fr;
  padding: 1rem;
  grid-template-areas: "form map";

  &, form, .buttons {
    gap: 1rem;
  }

  form {
    grid-area: form;
    display: flex;
    flex-direction: column;
  }

  .map {
    grid-area: map;
  }

  section.map {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}
