<form (submit)="save(); $event.preventDefault()" [formGroup]="form">
  <section>
    <h1>General</h1>
    <app-text-field formControlName="start_time" label="Start" type="datetime-local"/>
    <app-text-field formControlName="end_time" label="End" type="datetime-local"/>
    <app-text-field formControlName="line" label="Line" type="number"/>
    <app-text-field formControlName="run" label="Run" type="number"/>
    <app-text-field formControlName="region" label="Region" type="number"/>

    <app-checkbox label="Finished" formControlName="finished"/>
    <app-checkbox label="Correlated" formControlName="correlated"/>
  </section>

  <section>
    <h1>Cut</h1>
    <app-text-field formControlName="skip" label="Skip Front" type="number"/>
    <app-text-field formControlName="drop" label="Drop End" type="number"/>
  </section>

  <div class="buttons">
    <app-button label="Save"/>
    <app-button label="Cancel" flavor="danger" link=".."/>
  </div>
</form>

<app-map
  [lines]="(lines | async)!"
  [highlightedLines]="(highlightedLines | async)!"
  [putLinesInCenter]="true"
/>
