<form (submit)="save(); $event.preventDefault()" [formGroup]="form">
  <section>
    <h1>General</h1>
    <app-text-field formControlName="start_time" label="Start" type="datetime-local"/>
    <app-text-field formControlName="end_time" label="End" type="datetime-local"/>
    <app-text-field formControlName="line" label="Line" type="number"/>
    <app-text-field formControlName="run" label="Run" type="number"/>
    <app-text-field formControlName="region" label="Region" type="number"/>

    <app-checkbox formControlName="finished" label="Finished"/>
    <app-checkbox formControlName="correlated" label="Correlated"/>
  </section>

  <section>
    <h1>Trim</h1>
    <app-text-field formControlName="trim_start" label="Trim x datapoints from the start" type="number"/>
    <app-text-field formControlName="trim_end" label="Trim x datapoints from the end" type="number"/>
  </section>

  <div class="buttons">
    <app-button label="Save"/>
    <app-button flavor="danger" label="Cancel" link=".."/>
  </div>
</form>

<app-map
  [highlightedLines]="(highlightedLines | async)!"
  [lines]="(lines | async)!"
  [putLinesInCenter]="true"
/>
