<nav>
  <ul class="not">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" class="not">
        <app-dashboard-icon class="icon"/>
      </a>
    </li>
    <li>
      <a routerLink="/region" routerLinkActive="active" class="not">
        <app-region-icon class="icon"/>
      </a>
    </li>
    <li>
      <a routerLink="/station" routerLinkActive="active" class="not">
        <app-station-icon class="icon"/>
      </a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active" class="not">
        <app-user-icon class="icon"/>
      </a>
    </li>
    <li>
      <a routerLink="/track" routerLinkActive="active" class="not">
        <app-track-icon class="icon"/>
      </a>
    </li>
  </ul>

  <app-button label="Login" link="/login"></app-button>

  <!--  <a routerLink="/profile" routerLinkActive="active" class="profile not">-->
  <!--    <app-profile-icon class="icon"/>-->
  <!--    Profile-->
  <!--  </a>-->
</nav>
