@import "vars";

:host {
  label {
    display: flex;
    flex-direction: column;

    input, textarea {
      outline: none;
      background-color: $background;
      border: 0.1rem solid $background;
      padding: 0.4rem;
      border-radius: 0.4rem;

      transition: 150ms ease-in-out background-color, 150ms ease-in-out border-color;
    }

    textarea {
      resize: none;
    }

    &:hover {
      input, textarea {
        background-color: $background-lighter;
        border-color: $background-lighter;
      }
    }
  }

  &.ng-touched.ng-dirty {
    &.ng-invalid, &.own-dirty {
      label {
        input, textarea {
          border-color: $danger-dark;
        }
      }
    }
  }

  &:focus-within label {
    input, textarea {
      border-color: $primary;
    }
  }
}
