<ng-container *ngIf="reportingPointRaw">
  <div>
    <span i18n>Lat</span>
    <span>{{roundLatLon(reportingPointRaw.lat)}}°</span>
  </div>
  <div>
    <span i18n>Lon</span>
    <span>{{roundLatLon(reportingPointRaw.lon)}}°</span>
  </div>
  <div>
    <span i18n>Run</span>
    <span>
      <a [routerLink]="'/track/' + reportingPointRaw.trekkie_run">
        <ng-container *ngIf="track | async as track">
          {{track.line}}/{{track.run}} {{track.start_time | date:'short'}}
        </ng-container>
      </a>
    </span>
  </div>
  <div>
    <span i18n>Run Owner</span>
    <span>
      <a [routerLink]="'/user/' + reportingPointRaw.run_owner">
        {{ (getUser(reportingPointRaw.run_owner) | async)?.name }}
      </a>
    </span>
  </div>
</ng-container>
