@use "sass:list";
@import "vars";

$flavors: (
  good: ($good, $good-dark),
  danger: ($danger, $danger-dark),
  disabled: ($gray, $text-dark),
);

:host {
  button, a {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: $secondary;
    user-select: none;
    border-radius: 0.3rem;
    padding: 0.4rem 0.8rem;
    background-color: $primary;
    font-weight: $font-weight-bold;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;

    &:hover {
      color: $secondary-dark;
      background-color: $primary-dark;
    }

    &:active {
      box-shadow: inset 0 0 0.5rem 0.05rem $primary;
    }
  }

  button, a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    ::ng-deep svg {
      fill: $secondary;
      width: 1.3em;
      height: 1.3em;
      transition: fill 150ms ease-in-out;
    }

    &:hover ::ng-deep svg {
      fill: $secondary-dark;
    }
  }

  @each $name, $colors in $flavors {
    &.#{$name} {
      button, a {
        color: $text-inverted;
        background-color: list.nth($colors, 1);

        &:hover {
          color: $text-inverted-dark;
          background-color: list.nth($colors, 2);
        }

        &:active {
          box-shadow: inset 0 0 0.5rem 0.05rem list.nth($colors, 1);
        }
      }

      button, a {
        ::ng-deep svg {
          fill: $text-inverted;
        }

        &:hover ::ng-deep svg {
          fill: $text-inverted-dark;
        }
      }
    }
  }
}
