<section>
  <h1 i18n>Details</h1>
  @if ((user | async); as user) {
    <table>
      <tbody>
        <tr>
          <td i18n>Id</td>
          <td>{{user.id}}</td>
        </tr>
        <tr>
          <td i18n>Name</td>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <td i18n>E-Mail</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td i18n>E-Mail Setting</td>
          <td>{{user.email_setting}}</td>
        </tr>
        <tr>
          <td i18n>Deactivated</td>
          <td>{{user.deactivated}}</td>
        </tr>
      </tbody>
    </table>
  } @else {
    <p i18n>You are not logged in.</p>
  }

</section>

<div class="buttons">
  @if (authState | async) {
    <feel-button (click)="logout()" i18n-label label="Logout"/>
  } @else {
    <feel-button [query]="{next}" i18n-label label="Login" link="/login"/>
  }
</div>
