<h1>Profile</h1>

<section>
  <h1>Details</h1>
  <table *ngIf="(user | async) as user; else noAccount">
    <tbody>
    <tr>
      <td>Id</td>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>E-Mail Setting</td>
      <td>{{user.email_setting}}</td>
    </tr>
    <tr>
      <td>Deactivated</td>
      <td>{{user.deactivated}}</td>
    </tr>
    </tbody>
  </table>

  <ng-template #noAccount>
    <p>
      You are not logged in.
    </p>
  </ng-template>
</section>

<div class="buttons">
  <app-button label="Logout" (click)="logout()" *ngIf="authState | async; else loginBtn"/>
  <ng-template #loginBtn>
    <app-button [query]="{next}" label="Login" link="/login"/>
  </ng-template>
</div>
