<section>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Email Setting</th>
      <th>Deactivated</th>
      <th>Details</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of (users | async); trackBy trackBy">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.email_setting}}</td>
      <td>{{user.deactivated}}</td>
      <td><a [routerLink]="user.id">Details</a></td>
      <td><a [routerLink]="user.id + '/edit'">Edit</a></td>
    </tr>
    </tbody>
  </table>
</section>
