<h1>Tracks</h1>
<section>
  <label>
    Offset:
    <input (change)="updateOffset($event.target)" type="number">
  </label>

  <label>
    Limit:
    <input (change)="updateLimit($event.target)" type="number" value="15">
  </label>

  <table>
    <thead>
    <tr>
      <th>Start</th>
      <th>Ende</th>
      <td>Duration</td>
      <th>Line</th>
      <th>Run</th>
      <th>Region</th>
      <th>Owner</th>
      <th>Finished</th>
      <th>Correlated</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let track of (tracks | async); trackBy trackBy">
      <td>{{track.start_time | date:'short'}}</td>
      <td>{{track.end_time | date:'short'}}</td>
      <td>{{duration(track.start_time, track.end_time)}}</td>
      <td>{{track.line}}</td>
      <td>{{track.run}}</td>
      <td>
        <a [routerLink]="'/region/' + track.region">
          {{ (getRegion(track.region) | async)?.name }}
        </a>
      </td>
      <td>
        <a [routerLink]="'/user/' + track.owner">
          {{ (getUser(track.owner) | async)?.name }}
        </a>
      </td>
      <td>{{track.finished}}</td>
      <td>{{track.correlated}}</td>
      <td><a [routerLink]="track.id.toString()">Details</a></td>
    </tr>
    </tbody>
  </table>
</section>
