<section>
  <form [formGroup]="form">
    <feel-text-field formControlName="offset" i18n-label label="Offset" type="number"/>
    <feel-text-field formControlName="limit" i18n-label label="Limit" type="number"/>
    <feel-button (click)="prev()" i18n>Previous Page</feel-button>
    <feel-button (click)="next()" i18n>Next Page</feel-button>
  </form>

  <table>
    <thead>
    <tr>
      <th i18n>Start</th>
      <th i18n>End</th>
      <th i18n>Age</th>
      <th i18n>Duration</th>
      <th i18n>Line</th>
      <th i18n>Run</th>
      <th i18n>Region</th>
      <th i18n>Owner</th>
      <th i18n>Finished</th>
      <th i18n>Correlated</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let track of (tracks | async); trackBy trackBy">
      <td>{{track.start_time | date:'short'}}</td>
      <td>{{track.end_time | date:'short'}}</td>
      <td>{{track.end_time | relativeTime | async}}</td>
      <td>{{duration(track.start_time, track.end_time) | duration}}</td>
      <td>{{track.line}}</td>
      <td>{{track.run}}</td>
      <td>
        <a [routerLink]="'/region/' + track.region">
          {{ (getRegion(track.region) | async)?.name }}
        </a>
      </td>
      <td>
        <a [routerLink]="'/user/' + track.owner">
          {{ getUserName(track.owner) | async }}
        </a>
      </td>
      <td>{{track.finished}}</td>
      <td>{{track.correlated}}</td>
      <td><a [routerLink]="track.id.toString()" i18n>Details</a></td>
    </tr>
    </tbody>
  </table>
</section>
