:host {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  padding: 1rem;
  gap: 1rem;
  grid-template-areas: "general";

  .general {
    grid-area: general;
  }
}
