<div class="branding">
</div>

<section>
  <app-tlms-icon class="icon"></app-tlms-icon>
  <h1 i18n>Kindergarten Login</h1>

  <span *ngIf="(loading | async) === false && (wrongCredentials | async)" class="error" i18n>Wrong credentials</span>

  <form (submit)="login(); $event.preventDefault()" [formGroup]="form">
    <app-text-field formControlName="email" label="E-Mail">
      <app-error *ngIf="form.controls.email.touched && form.controls.email.errors?.['required']" i18n>
        E-Mail is required!
      </app-error>
    </app-text-field>

    <app-text-field formControlName="password" label="Password" type="password">
      <app-error *ngIf="form.controls.password.touched && form.controls.password.errors?.['required']" i18n>
        Password is required!
      </app-error>
    </app-text-field>

    <div class="controls">
      <a routerLink="/dashboard" i18n>Dashboard</a>
      <app-button [disabled]="loading | async" class="submit" label="Login"/>
    </div>
  </form>
</section>

<footer>
  <p>
    <b i18n>Transit Live Mapping Solutions</b>
    -
    <span i18n>Enhancing openness and promoting access to Dresden public infrastructure data since 2022.</span>
    <br>
    <br>
    <a href="https://github.com/tlm-solutions?type=source" rel="nofollow noopener noreferrer" target="_blank" i18n>
      GitHub
    </a>
    -
    <a href="https://matrix.to/#/#dump-dvb:matrix.org" rel="nofollow noopener noreferrer" target="_blank" i18n>
      Matrix
    </a>
    -
    <a href="https://map.tlm.solutions/" rel="nofollow noopener noreferrer" target="_blank" i18n>
      Live Map
    </a>
    -
    <a href="https://docs.tlm.solutions/" rel="nofollow noopener noreferrer" target="_blank" i18n>
      Documentation
    </a>
  </p>
</footer>
