<div class="branding">
</div>

<section>
  <app-tlms-icon class="icon"></app-tlms-icon>
  <h1>Kindergarten Login</h1>

  <form [formGroup]="form" (submit)="login(); $event.preventDefault()">
    <app-text-field label="E-Mail" formControlName="email">
      <app-error *ngIf="form.controls.email.touched && form.controls.email.errors?.['required']">
        E-Mail is required!
      </app-error>
    </app-text-field>

    <app-text-field label="Password" type="password" formControlName="password">
      <app-error *ngIf="form.controls.password.touched && form.controls.password.errors?.['required']">
        Password is required!
      </app-error>
    </app-text-field>

    <div class="controls">
      <a routerLink="/dashboard">Dashboard</a>
      <app-button label="Login" class="submit"/>
    </div>
  </form>
</section>

<footer>
  <p>
    <b>Transit Live Mapping Solutions</b>
    -
    Enhancing openness and promoting access to Dresden public infrastructure data since 2022.
    <br>
    <br>
    <a href="https://github.com/tlm-solutions?type=source" target="_blank" rel="nofollow noopener noreferrer">GitHub</a>
    -
    <a href="https://matrix.to/#/#dump-dvb:matrix.org" target="_blank" rel="nofollow noopener noreferrer">Matrix</a>
    -
    <a href="https://map.dvb.solutions/" target="_blank" rel="nofollow noopener noreferrer">Live Map</a>
    -
    <a href="https://docs.dvb.solutions/" target="_blank" rel="nofollow noopener noreferrer">Documentation</a>
  </p>
</footer>
