<section>
  <h1>Regions ({{regionCount | async}})</h1>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Transport Company</th>
      <th>Regional Company</th>
      <th>Frequency</th>
      <th>R09 Type</th>
      <th>Encoding</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Zoom</th>
      <th>Work in Progress</th>
      <th>Deactivated</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let region of (regions | async); trackBy trackBy">
      <td>{{region.name}}</td>
      <td>{{region.transport_company}}</td>
      <td>{{region.regional_company}}</td>
      <td>{{region.frequency}}</td>
      <td>{{region.r09_type}}</td>
      <td>{{region.encoding}}</td>
      <td>{{region.lat}}°</td>
      <td>{{region.lon}}°</td>
      <td>{{region.zoom}}°</td>
      <td>{{region.work_in_progress}}</td>
      <td>{{region.deactivated}}</td>
      <td><app-button [link]="region.id.toString()">Details</app-button></td>
    </tr>
    </tbody>
  </table>
</section>
