@import "vars";

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 1rem;
    transition: 150ms ease-in-out background-color;

    .icon {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover, &.active {
      background-color: $primary;
    }
  }
}
