@import "vars", "local-vars";

.background {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-right: 0.1rem solid $c-card-secondary;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 1rem;
    transition: 150ms ease-in-out background-color;

    .icon {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover, &.active {
      background-color: $c-primary;

      .icon {
        fill: $c-secondary-d;
      }
    }
  }
}

@media (screen and max-width: $bp-mobile) {
  .background {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.25);
    backdrop-filter: blur(0.2rem);
  }

  nav {
    z-index: 100;
    position: relative;
    background-color: $c-page;
  }
}
