<nav>
  <ul class="not">
    <li>
      <a class="not" routerLink="/dashboard" routerLinkActive="active">
        <app-dashboard-icon class="icon"/>
      </a>
    </li>
    <li>
      <a class="not" routerLink="/region" routerLinkActive="active">
        <app-region-icon class="icon"/>
      </a>
    </li>
    <li>
      <a class="not" routerLink="/station" routerLinkActive="active">
        <app-station-icon class="icon"/>
      </a>
    </li>
    <li>
      <a class="not" routerLink="/user" routerLinkActive="active">
        <app-user-icon class="icon"/>
      </a>
    </li>
    <li>
      <a class="not" routerLink="/track" routerLinkActive="active">
        <app-track-icon class="icon"/>
      </a>
    </li>
  </ul>

  <input type="color" [formControl]="color">
  <br>

  <app-button [query]="{next}" label="Login" link="/login" *ngIf="authState | async; else logoutBtn"/>
  <ng-template #logoutBtn>
    <app-button label="Logout" (click)="logout()"/>
  </ng-template>

  <!--  <a routerLink="/profile" routerLinkActive="active" class="profile not">-->
  <!--    <app-profile-icon class="icon"/>-->
  <!--    Profile-->
  <!--  </a>-->
</nav>
