<ng-container *ngIf="station | async as station; else loading">
  <section class="general">
    <h1>General</h1>
    <table>
      <tbody>
      <tr>
        <td>Name</td>
        <td>{{station.name}}</td>
      </tr>
      <tr>
        <td>Owner</td>
        <td>
          <a [routerLink]="'/user/' + station.owner">
            {{ (getUser(station.owner) | async)?.name }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Approved</td>
        <td>{{station.approved}}</td>
      </tr>
      <tr>
        <td>Deactivated</td>
        <td>{{station.deactivated}}</td>
      </tr>
      <tr>
        <td>Public</td>
        <td>{{station.public}}</td>
      </tr>
      <tr>
        <td>Notes</td>
        <td>{{station.notes}}</td>
      </tr>
      </tbody>
    </table>
  </section>

  <section class="location">
    <h1>Location</h1>
    <table>
      <tbody>
      <tr>
      <tr>
        <td>Region</td>
        <td>
          <a [routerLink]="'/region/' + station.region">
            {{ (getRegion(station.region) | async)?.name }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Lat</td>
        <td>{{station.lat}}°</td>
      </tr>
      <tr>
        <td>Lon</td>
        <td>{{station.lon}}°</td>
      </tr>
      <tr>
        <td>Elevation</td>
        <td>{{station.elevation}}</td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="hardware">
    <h1>Hardware</h1>
    <table>
      <tr>
        <td>Radio</td>
        <td>{{station.radio ?? "Unknown"}}</td>
      </tr>
      <tr>
        <td>Architecture</td>
        <td>{{station.architecture ?? "Unknown"}}</td>
      </tr>
      <tr>
        <td>Device</td>
        <td>{{station.device ?? "Unknown"}}</td>
      </tr>
      <tr>
        <td>Antenna</td>
        <td>{{station.antenna ?? "Unknown"}}</td>
      </tr>
      <tr>
        <td>Telegram Decoder Version</td>
        <td>{{station.telegram_decoder_version ?? "Unknown"}}</td>
      </tr>
    </table>
  </section>

  <div class="buttons">
    <app-button link="edit">Edit</app-button>
    <app-button link="..">Back to List</app-button>
  </div>

  <app-map
    [lat]="station.lat"
    [lon]="station.lon"
    [marker]="true"
    [zoom]="(getRegion(station.region) | async)?.zoom ?? 11"
    class="map"
  />
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
