:host {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 5fr;
  padding: 1rem;
  grid-template-areas: "general map" "location map" "hardware map" "buttons map";

  &, .buttons {
    gap: 1rem;
  }

  .general {
    grid-area: general;
  }

  .location {
    grid-area: location;
  }

  .hardware {
    grid-area: hardware;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
  }

  .map {
    grid-area: map;
  }
}
