:host {
  display: block;
  padding: 1rem;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;

      h1 {
        grid-column: 1/3;
      }
    }
  }
}
