:host {
  display: block;
  padding: 1rem;

  form {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: "general map" "buttons map";

    &, section, .buttons {
      gap: 1rem;
    }

    section {
      grid-area: general;
      display: grid;
      grid-template-columns: 1fr 1fr;

      h1 {
        grid-column: 1/3;
      }
    }

    .buttons {
      grid-area: buttons;
      display: flex;
      justify-content: flex-end;
    }

    .map {
      grid-area: map;
    }
  }
}
