<ng-container *ngIf="(vehicle | async) as vehicle">
  <ng-container *ngIf="lookupLine(vehicle.line) as line; else rawLine">
    <div>
      <span i18n>Line</span>
      <span>{{line.name}}</span>
    </div>
    <div *ngIf="line.description">
      <span i18n>Description</span>
      <span>{{line.description}}</span>
    </div>
    <div>
      <span i18n>Type</span>
      <span>{{type(line.type)}}</span>
    </div>
  </ng-container>
  <ng-template #rawLine>
    <div>
      <span i18n>Raw Line</span>
      <span>{{vehicle.line}}</span>
    </div>
  </ng-template>
  <div>
    <span i18n>Run</span>
    <span>{{vehicle.run}}</span>
  </div>
  <div>
    <span i18n>Delay</span>
    <span>{{(vehicle.delayed * 1000) | duration}}</span>
  </div>
  <div>
    <span i18n>Last Seen</span>
    <span>{{vehicle.time | relativeTime}}</span>
  </div>
  <div>
    <span i18n>R09 Reporting Point</span>
    <span><a
      [routerLink]="'/region/0/reporting_point/' + vehicle.r09_reporting_point">{{vehicle.r09_reporting_point}}</a>
    </span>
  </div>
  <div>
    <span i18n>R09 Destination</span>
    <span>{{vehicle.r09_destination_number}}</span>
  </div>
</ng-container>
