<ng-container *ngIf="(vehicle | async) as vehicle">
  <table>
    <tbody>
    <ng-container *ngIf="lookupLine(vehicle.line) as line; else rawLine">
      <tr>
        <td>Line</td>
        <td>{{line.name}}</td>
      </tr>
      <tr *ngIf="line.description">
        <td>Description</td>
        <td>{{line.description}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{type(line.type)}}</td>
      </tr>
    </ng-container>
    <ng-template #rawLine>
      <tr>
        <td>Raw Line</td>
        <td>{{vehicle.line}}</td>
      </tr>
    </ng-template>
    <tr>
      <td>Run</td>
      <td>{{vehicle.run}}</td>
    </tr>
    <tr>
      <td>Delay</td>
      <td>{{duration(vehicle.delayed * 1000)}}</td>
    </tr>
    <tr>
      <td>Last Seen</td>
      <td>{{relativeTime(vehicle.time)}}</td>
    </tr>
    </tbody>
  </table>
</ng-container>
