* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import 'scss/constants';
@import 'scss/font';
@import 'src/scss/base';
@import 'vars';

body {
  background-color: $background;
  margin: 0;
}

::selection {
  background-color: $primary;
  color: $secondary;
}

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
    filter: var(--map-tiles-filter, none);
  }
}
