@import '@fontsource/dm-sans/400.css';
@import '@fontsource/dm-sans/400-italic.css';
@import '@fontsource/dm-sans/700.css';
@import '@fontsource/dm-sans/700-italic.css';

@import "vars";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  background-color: $background;
  color: $light;
}
