@import "vars";

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:not(.not) {
  border-bottom: 0.15rem solid $c-primary;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;

  svg {
    transition: fill 150ms ease-in-out;
  }

  &:hover {
    background-color: $c-primary;
    color: $c-secondary;

    svg {
      fill: $c-secondary;
    }
  }
}

section {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid $c-card-secondary;
  background-color: $c-card;

  .header {
    display: flex;
    justify-content: space-between;
  }
}

h1, h2, h3, h4, h5, h6, p, .section {
  margin: 0 0 1rem;

  &:last-child {
    margin: 0;
  }
}

ul, ol {
  &:not(.not) {
    margin: 0;
    padding-left: 1rem;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 0.4rem;
  }

  td {
    border-top: 0.1rem solid $c-card-secondary;

    &:last-of-type {
      text-align: right;
    }
  }
}

@media (prefers-color-scheme: dark) {
  canvas.ol-layer {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  }
}
