@import "theme";
@import "vars";

@include theme(
  $c-primary: #FFD700,
  $c-primary-l: #ffe069,
  $c-primary-d: #DAA520,
);

:root {
  // ol specific colors
  --ol-background-color: var(--c-page);
  --ol-accent-background-color: var(--c-background-l);
  --ol-subtle-background-color: transparent;
  --ol-partial-background-color: rgba(44, 44, 44, 0.75);
  --ol-foreground-color: var(--f-color);
  --ol-subtle-foreground-color: unset;
  --ol-brand-color: var(--c-primary);
}
