@import "vars";

body, input, textarea, button {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $text;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: $font-weight-bold;
}

p, a, div, button, input, textarea, select, ul, ol {
  font-size: $font-size;
}
