<h1>Dashboard</h1>

<div class="overview">
  <app-statistic-card [value]="regionCount | async" name="Regions" link="/region">
    <app-region-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="stationCount | async" name="Stations" link="/station">
    <app-station-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="userCount | async" name="Users" link="/user">
    <app-user-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="trackCount | async" name="Tracks" link="/track">
    <app-track-icon/>
  </app-statistic-card>
</div>
