<div class="overview">
  <app-statistic-card [value]="regionCount | async" link="/region" name="Regions">
    <app-region-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="stationCount | async" link="/station" name="Stations">
    <app-station-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="userCount | async" link="/user" name="Users">
    <app-user-icon/>
  </app-statistic-card>

  <app-statistic-card [value]="trackCount | async" link="/track" name="Tracks">
    <app-track-icon/>
  </app-statistic-card>
</div>
