@import "vars";

:host {
  display: flex;
  background-color: $dark;
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    label {
      display: flex;
      flex-direction: column;

      &:has(input[type=checkbox]) {
        flex-direction: row;
        justify-content: space-between;
        flex-shrink: 1;
      }

      input, textarea {
        width: 100%;
        outline: none;
        border: none;
        background-color: $background;
        color: $light;
      }

      input[type=checkbox ] {
        width: unset;
      }

      textarea {
        resize: vertical;
      }
    }
  }
}
