<form (submit)="save(); $event.preventDefault()" [formGroup]="form">

  <section>
    <h1 i18n>General</h1>
    <feel-text-field formControlName="name" i18n-label label="Name">
      @if (form.controls.name.touched && form.controls.name.errors?.['required']) {
        <feel-form-error i18n>Name is
        required!
      </feel-form-error>
      }
    </feel-text-field>

    <feel-checkbox formControlName="approved" i18n-label label="Approved"/>
    <feel-checkbox formControlName="deactivated" i18n-label label="Deactivated"/>
    <feel-checkbox formControlName="public" i18n-label label="Public"/>

    <feel-text-field formControlName="notes" i18n-label label="Notes" type="multiline"/>
  </section>

  <section>
    <h1>Location</h1>
    <feel-text-field formControlName="lat" i18n-label label="Latitude" type="number">
      @if (form.controls.lat.touched && form.controls.lat.errors?.['required']) {
        <feel-form-error i18n>Latitude is
        required!
      </feel-form-error>
      }
    </feel-text-field>
    <feel-text-field formControlName="lon" i18n-label label="Longitude" type="number">
      @if (form.controls.lon.touched && form.controls.lon.errors?.['required']) {
        <feel-form-error i18n>Longitude is
        required!
      </feel-form-error>
      }
    </feel-text-field>
    <feel-text-field formControlName="elevation" i18n-label label="Elevation" type="number"/>
    <feel-text-field formControlName="region" i18n-label label="Region" type="number"/>
  </section>

  <section>
    <h1>Hardware</h1>

    <feel-text-field formControlName="radio" i18n-label label="Radio"/>
    <feel-text-field formControlName="architecture" i18n-label label="Architecture"/>
    <feel-text-field formControlName="device" i18n-label label="Device"/>
    <feel-text-field formControlName="antenna" i18n-label label="Antenna"/>

    <feel-text-field formControlName="telegram_decoder_version" i18n-label label="Telegram Decoder Version"/>
  </section>

  <div class="buttons">
    <feel-button i18n-label label="Save"/>
    <feel-button flavor="danger" i18n-label label="Cancel" link=".."/>
  </div>
</form>

@if ((getRegion() | async); as region) {
  <app-map
    [lat]="(form.controls.lat.valueChanges | async) ?? 0"
    [lon]="(form.controls.lon.valueChanges | async) ?? 0"
    [marker]="true"
    [zoom]="region.zoom"
    class="map"
    />
}
