name: CI

on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.1.0

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - run: pnpm install
      - run: pnpm run lint:ci
        continue-on-error: true

  #  test:
#    runs-on: ubuntu-latest
#
#    strategy:
#      matrix:
#        node: [ 16, 18 ]
#
#    steps:
#      - uses: actions/checkout@v5
#      - uses: pnpm/action-setup@v4.1.0
#
#      - uses: actions/setup-node@v4
#        with:
#          node-version: ${{ matrix.node }}
#          cache: 'pnpm'
#
#      - run: pnpm install
#      - run: pnpm run test:ci

  build:
    needs: [ lint ] # , test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.1.0

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - run: pnpm install
      - run: pnpm run build:ci

      - uses: actions/upload-artifact@v4
        with:
          name: kindergarten
          path: dist/browser
